li strong {
    background-color: maroon;
    color: whitesmoke;
}

li a {
    background-color: red;
    color: rgb(0.02, 0.04, 0.01);
}

.navbutt, .navbar {
    display: flex; flex-direction: row;
    background-color: red;
}

.navbar {
    list-style-type: none;
    float: right;
}