li strong {
    background-color: maroon; color: whitesmoke;
}

li a {
    background-color: red; color: rgb(0.02, 0.04, 0.01);
}

.navigation-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex; flex-direction: row;
    background-color: red;
    border: maroon solid 1px;
    float: left;
}

.navigation-button li {
    float: left;
    display: block;
    background: red;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header ul {
    padding: 0;
    margin: 0;
}