body {
    margin: 0;
    padding: 0;
    background: white;
}

li strong {
    padding: 0.5em;
    background-color: maroon; color: whitesmoke;
}

header {
    position: absolute;
    z-index: 9;
}

header a {
    background-color: red; color: rgb(0.02, 0.04, 0.01);
}

.navigation-bar {
    position: fixed;
    width: 100%;
    display: flex; flex-direction: row;
    background-color: red;
    border: maroon solid 1px;
    float: left;
}

li {
    display: inline-block;
    background: red;
    color: whitesmoke;
    margin: 5px;
    padding: 1px;
    text-decoration: none;
    transition: 0.8s;
}

li a:hover {
    padding: 0.5em;
    color: red;
    background: maroon;
    z-index: 11;
}

li a {
    text-decoration: none;
    transition: 0.4s;
}

header ul {
    float: right;
    alignment: center;
    text-align: right;
    overflow: hidden;
    font-size: 16px;
    padding-left: 73%;
    padding-top: 1%;
    margin: 0;
    text-decoration: none;
}

header li{
    background-position: 100%;
    padding-right: 0;
}

.datacraft-background {
    margin-top: -10%;
    width: auto;
    height: 66%;
    transform: scale(0.8, 0.8);
}

.hue-waves {
    animation: huewaves 4s linear infinite;
    -webkit-filter: brightness(100%) saturate(100%);
}

@keyframes huewaves {
    0%  {-webkit-filter: hue-rotate(0turn);}
    100%{-webkit-filter: hue-rotate(1turn);}
}

.datacraft-button {
    position: relative;
    color: white;
    background-color: black;
    font-family: sans-serif;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    bottom: 50%;
    text-decoration: none;
}

.typewriter1 {
    color: black;
    font-family: sans-serif;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin-top: -30%;
    letter-spacing: .05em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 30%;
    z-index: 5;
    position: absolute;
    animation:
            typing 2.5s steps(30, end),
            blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 36% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

.datacraft-logo {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 40%;
    top: 15em;
    z-index: 6;
}

.typewrite { color:#fff; text-decoration: none;}