---
import BaseLayout from '../layouts/baseLayout.astro';
---
<BaseLayout>
    <!-- Add image later -->
    <div style="height: 20vh;"/>
    <div class="container raise">
        <h1>Hi, I am SlimeyAr!</h1>
        <p> Or known as SlimeyMC, idontk., slimey, smile you name it. I am a student at somewhere in sea,
            pursuing my hobby that is not making website. Instead my finesse is in game development and
            it's individual department. Including programming specifically Godot, Kotlin and Go in the
            future. Modelling, Animation, Texturing, UV/Model Topology, VFX, Grease Pencil and everything
            in between. Sometimes dabble in Musescore but I generally had no idea how to compose a piece
            of music, a serenading movement and lapse of between. Oh and I love Worldbuilding and
            anything magical. For I strive to be the better part of me ;)</p>
    </div>
</BaseLayout>