---
import '../styles/global.css'

import BaseLayout from '../layouts/baseLayout.astro';

import Hero from '../components/hero.astro';
---

<BaseLayout>
    <Hero />
    <div class="container raise-gentle concave"><h2>Lorem ipsum dolor sit amet.</h2>
        <p>Pack my box with five dozen liquor jugs! [ ] ( ) < > ? ! . , ; ' " @ # $ % ^ & * ~ ` / \ 0 1 2 3 4 5 6 7 8 9</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet assumenda dicta eos, nam non obcaecati
            officiis repellendus? Aliquid deleniti dolorem error ipsum mollitia praesentium, quidem quisquam quod vitae
            voluptatibus!</p>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi officia possimus quae rerum sequi vero! Animi aut blanditiis eveniet, ex modi, nam nemo officia perferendis quia quo soluta temporibus?</span><span>Accusamus alias animi consectetur cumque cupiditate distinctio dolore ducimus, eveniet facere, hic itaque laudantium magni mollitia neque obcaecati officia porro possimus ratione recusandae repudiandae sint soluta voluptas voluptates voluptatibus voluptatum.</span><span>Aliquam assumenda atque culpa cupiditate dolorum fugiat illum, impedit ipsam mollitia necessitatibus, nisi porro quis quod saepe sequi tempora tempore, totam ut vel voluptate? At nisi reiciendis sit suscipit tenetur.</span><span>Aspernatur assumenda at atque distinctio eum labore nisi quibusdam repellat sunt temporibus. Ad consectetur consequuntur corporis eaque error eum facilis ipsa molestiae nemo nesciunt, optio perferendis quasi sapiente tenetur voluptatibus!</span><span>A accusamus aliquid culpa debitis dignissimos eveniet illo illum, ipsa, laudantium molestiae neque praesentium quas quidem quos recusandae repellendus tenetur vitae voluptas voluptatem voluptatum. Culpa debitis exercitationem itaque quaerat totam.</span><span>Asperiores beatae doloribus fuga illo iste labore placeat suscipit totam! Accusamus animi debitis delectus eaque facere ipsam ipsum iste labore, maiores nam nobis placeat quasi unde velit veniam! Perferendis, sapiente?</span><span>Ab ad animi atque dicta, dolores dolorum exercitationem explicabo facere nemo, qui reiciendis repellendus similique ut voluptate, voluptates. Aut autem deleniti fugit harum ipsa ipsum officia omnis repellat rerum totam?</span><span>Autem consequatur dignissimos dolore doloremque, magnam neque nesciunt nostrum perferendis praesentium quis quod soluta sunt vel, vitae, voluptatum! Ad deleniti dicta earum fugit labore necessitatibus nemo nihil nulla odit voluptates?</span><span>Aperiam cum dolore libero natus obcaecati quibusdam repellat sequi veritatis. A commodi dolorum eaque, eligendi impedit ipsum iure minima, nihil provident qui quis repellendus rerum velit. Magni numquam sunt velit!</span><span>Dolor harum, inventore praesentium quas quod sint sunt? Alias aperiam consequatur ex sequi. Delectus eos molestias velit. Aut ipsam labore mollitia quae quibusdam soluta unde. Debitis earum pariatur quod repellat.</span>
        </p>
        <hr>
        <br>
        <br>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias autem beatae cum eius esse explicabo fugit iusto laborum modi optio, porro quaerat ratione reiciendis, repudiandae sunt tenetur velit vero!</span><span>Atque beatae consequatur deserunt dolorem eveniet in molestiae nemo possimus quo repellat sapiente similique, sunt veniam. Accusantium aspernatur culpa, est iusto minima minus nihil porro quas quis reprehenderit sequi soluta?</span><span>Aperiam blanditiis corporis deserunt laboriosam minus officiis perferendis placeat veritatis? Consectetur cum eaque esse et, excepturi inventore ipsum itaque labore magni maxime odit officia quas qui, repellendus sapiente tempora totam?</span><span>Officia quam, quo? Alias, amet dolorem doloremque, ea excepturi ipsa ipsum iste iure maxime non omnis quae quasi quidem quo sequi velit veniam voluptatibus. Blanditiis eaque earum incidunt quasi quo.</span><span>Consectetur ea earum est illo iusto neque optio qui ratione saepe sint? Cumque debitis delectus dolor enim eos error excepturi iste libero maxime pariatur perferendis quam, rerum sunt voluptas, voluptate.</span>
        </p>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolores ipsa nisi nulla veritatis? Aliquid dignissimos excepturi iure iusto officia tempora. Aliquid atque consequatur eum, numquam possimus unde vitae voluptatem?</span><span>Accusamus assumenda consectetur deleniti dicta, distinctio doloremque dolores itaque iusto laudantium maiores nam odit optio reiciendis, unde voluptate? Aperiam blanditiis cum debitis dicta distinctio et impedit ipsum veniam vero voluptate!</span><span>Cumque, quisquam saepe. Ab consectetur illum nemo perferendis ullam. Ab accusantium aliquam amet consequatur deleniti dolores eveniet, expedita facere modi, non nostrum omnis optio, quasi qui quis quisquam sunt voluptate.</span><span>Accusamus alias atque laudantium minima numquam obcaecati provident quas, ratione repellendus rerum ullam voluptas. Accusantium, animi architecto distinctio dolorem earum hic iste veniam? Accusantium corporis, magni. Impedit odio quisquam sunt!</span><span>Ad, aperiam debitis delectus doloremque et ex expedita id impedit ipsum laudantium nemo, non quisquam repellendus sit unde? Cupiditate deserunt error excepturi id iure laboriosam nihil placeat, unde. Quae, veritatis.</span>
        </p>
        <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolore nesciunt
            repellendus!</strong>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus adipisci, cum doloribus, impedit in
            iste
            iusto labore odit quam qui repellat repellendus, reprehenderit repudiandae suscipit veniam veritatis
            voluptate
            voluptatibus?</p>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cum fugit impedit nobis quas. Aliquam
            asperiores doloremque, eaque error exercitationem facilis molestias necessitatibus nihil nisi qui quod sint
            vitae voluptatibus.</p>
        <h6>Lorem ipsum dolor sit amet.</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad atque autem ea, error
            exercitationem,
            explicabo harum id ipsum iusto magni necessitatibus nesciunt nihil numquam quam quisquam quod ut voluptatum.
            Aut, ducimus ea explicabo fugiat in laborum nulla, officiis quam qui quisquam reprehenderit vitae
            voluptatum.</p></div>
</BaseLayout>
