---
import { getCollection } from 'astro:content';

const blogs = await getCollection('blog');
blogs.length = 10;

---
<ul>
    {blogs.map(blog => (
            <li>
                <strong><a href={`/blog/${blog.slug}`}>{blog.data.title}</a></strong>
                <span class="description">
                    {blog.data.description}
                </span>
                <time datetime={(blog.data.createdAt || blog.data.updatedAt)?.toISOString()} class="text-info">
                    {(blog.data.createdAt || blog.data.updatedAt)?.toLocaleDateString('en-GB', )}
                </time>
            </li>
        ))}
</ul>
<style>
    ul {
        display: flex;
        padding: 0;
        flex-direction: column;
        max-width: 100em;
    }

    li {
        display: inline-flex;
        padding-inline: 0;
        list-style: none;
        gap: 1em;
    }

    .description {
        flex: 1;
        overflow: hidden;
    }
</style>