---

---
<div class="slime-container raise">
    <div class="press slimes">
        <!-- Competitive and love computer and redstone -->
        <div class="red slime raise raise-1"></div>
        <!-- Generous and caring man the wise of the bunch -->
        <div class="yellow slime raise raise-1"></div>
        <!-- Cassanova wannabe man -->
        <div class="green slime raise raise-1"></div>
        <!-- Friendly guy the chew toy of the brothership -->
        <div class="blue slime raise raise-1"></div>
        <!-- Mysterious stoic person and quite done for -->
        <div class="purple slime raise raise-1"></div>
        <!-- Ultra competitive and can overfixate over one stuff -->
        <div class="black slime raise raise-1"></div>
        <!-- Sophisticated man, a magnificient bastard -->
        <div class="silver slime raise raise-1"></div>
        <div class="text">
            <h1>SlimeyAr</h1>
            <h5>Peep who love game development, <br>
                animation, data science and all</h5>
        </div>
    </div>
</div>
<script>
    // import Box2DFactory from 'box2d-wasm';

    // Box2DFactory().then((box2D: typeof Box2D & EmscriptenModule) => {
    //     console.log(box2D);
    // });
</script>
<style lang="postcss">
    .slime-container {
        border-radius: 24px;
        display: block;
        height: 30em;
        width: 30em;
        margin: 120px auto;
        padding: 1rem;
        position: relative;
        user-select: none;
    }
    .slime {
        position: absolute;
        width: 15vh;
        height: 15vh;
        border-radius: 50%;
        box-shadow: inset 20px 20px 60px #112a, inset -20px -20px 60px #fffa,
        -20px -20px 60px var(--highlight), 20px 20px 60px  var(--shadow);
        transition: transform 2s;
    }
    .slime:hover {
        transition: transform 1s;
        transform: scale(120%);
    }
    .slime::before {
        content: '';
        position: absolute;
        border-radius: 100%;
        width: 100%;
        height: 100%;
    }
    .slime::before:hover {
        z-index: 99;
    }
    .red {
        background:
                radial-gradient(75% 75% at 20% 30%, #8c072f 0%, #fa1515 100%),
                radial-gradient(75% 75% at center, #0000 0%, #fa1515 100%);
        animation: red-sway 5s ease-in-out infinite both alternate;
        top: 7.5%;
        left: 7.5%;
    }
    .red::before {
        box-shadow: 0 0 60px #fa1515;
    }
    .yellow {
        background:
                radial-gradient(75% 75% at 20% 30%, #a24923 0%, #fada5b 100%),
                radial-gradient(75% 75% at center, #0000 0%, #fada5b 100%);
        top: 7.5%;
        left: 37.5%;
    }
    .yellow::before {
        box-shadow: 0 0 60px #fada5b;
    }
    .green {
        background:
                radial-gradient(75% 75% at 20% 30%, #239655 0%, #53e321 100%),
                radial-gradient(75% 75% at center, #0000 0%, #53e321 100%);
        top: 37.5%;
        left: 37.5%;
    }
    .green::before {
        box-shadow: 0 0 60px #53e321;
    }
    .blue {
        background:
                radial-gradient(75% 75% at 20% 30%, #238bbe 0%, #17ffec 100%),
                radial-gradient(75% 75% at center, #0000 0%, #17ffec 100%);
        top: 67.5%;
        left: 37.5%;
    }
    .blue::before {
        box-shadow: 0 0 60px #17ffec;
    }
    .purple {
        background:
                radial-gradient(75% 75% at 20% 30%, #591673 0%, #a2287f 100%),
                radial-gradient(75% 75% at center, #0000 0%, #a2287f 100%);
        top: 7.5%;
        left: 67.5%;
    }
    .purple::before {
        box-shadow: 0 0 60px #a2287f;
    }
    .black {
        background:
                radial-gradient(75% 75% at 20% 30%, #272822 0%, #2a2d33 100%),
                radial-gradient(75% 75% at center, #0000 0%, #001f1d 100%);
        top: 37.5%;
        left: 67.5%;
    }
    .black::before {
        box-shadow: 0 0 60px #2a2d33;
    }
    .silver {
        background:
                radial-gradient(75% 75% at 20% 30%, #c2cbdd 0%, #feffe5 100%),
                radial-gradient(75% 75% at center, #0000 0%, #c7dedb 100%);
        top: 67.5%;
        left: 67.5%;
    }
    .silver::before {
        box-shadow: 0 0 60px #feffe5;
    }

    .text {
        position: absolute;
        left: -10%;
        top: 47%;
        transform: rotate(-90deg);
    }

    .text>h1 {
        font-family: 'FancyHeavy';
        font-size: var(--text-4xl);
        padding: 0;
        line-height: 0;
        transform-origin: left;
        transform: scaleX(1.2);
    }

    .text>h5 {
        font-family: 'FancyLight';
        letter-spacing: 2px;
        font-size: var(--text-lg);
        transform-origin: left;
        transform: scaleX(0.9);
    }

    .press {
        border-radius: calc(24px - 1rem);
        height: 100%;
    }
</style>