---
import BlogsDropdown from "./blogsDropdown.astro";
---
<script>
    import Alpine from 'alpinejs'
    import persist from '@alpinejs/persist'
    import reveal from "./reveal";

    Alpine.plugin(reveal)
    Alpine.plugin(persist)

    const Navlist = {
        NONE: 0,
        BLOGS: 1,
        SHOWCASES: 2,
        WIKI: 3,
        ABOUT_ME: 4
    }
</script>
<nav class="raise-1">
    <div class="circle raise" style="position: fixed; left: 8px;">
        <img src="favicon">
    </div>
    <!-- TODO detect if user scroling then close the dropdown -->
    <div class="navlist raise"
         x-data="{open: $persist(0)}"
         @click.outside="open = 0" @mouseleave="setTimeout(() => {open = 0}, 500)"
         style="position: fixed; right: 8px;">
        <ul>
            <li><a @mouseenter="open = 1" href="./blogs">Blogs</a></li>
            <li><a @mouseenter="open = 2">Showcases</a></li>
            <li><a @mouseenter="open = 3">Wiki</a></li>
            <li><a @mouseenter="open = 4">About me</a></li>
        </ul>
        <div x-cloak x-reveal x-show="open === 1" client:visible>
            <hr>
            <p>RSS compatible!</p>
            <BlogsDropdown />
        </div>
    </div>
</nav>

<style>
    nav {
        height: 3em;
    }

    nav>div {
        position: sticky;
    }

    .navlist {
        border-radius: var(--radius-lg);
        padding: 1em;
        background: var(--dominant);
    }

    ul {
        display: flex;
        justify-content: end;
        margin: 0 1.5em;
        padding-inline: 0;
        list-style: none;
        gap: 2em;
    }
</style>