---
import BlogsDropdown from "./blogsDropdown.astro";
---
<script>
    import Alpine from 'alpinejs'
    import persist from '@alpinejs/Persist'
    import reveal from "./reveal.js";

    Alpine.plugin(reveal)
    Alpine.plugin(persist)

    const Navlist = {
        NONE: 0,
        BLOGS: 1,
        SHOWCASES: 2,
        WIKI: 3,
        ABOUT_ME: 4
    }
</script>
<nav class="raise-1">
    <button class="circle raise-steep" onclick="location.replace('../') ">
        <img src="/favicon.svg" >
    </button>
    <!-- TODO detect if user scroling then close the dropdown -->
    <div class="nav-list raise"
         x-data="{open: $persist(0)}"
         @click.outside="open = 0" @mouseleave="setTimeout(() => {open = 0}, 500)"
         style="position: fixed; right: 8px;">
        <ul class="inline-list">
            <li><a @mouseenter="open = 1" href="/blogs">Blogs</a></li>
            <li><a @mouseenter="open = 2">Showcases</a></li>
            <li><a @mouseenter="open = 3">Wiki</a></li>
            <li><a @mouseenter="open = 4">About me</a></li>
        </ul>
        <div x-cloak x-reveal x-show="open === 1" client:visible>
            <hr>
            <p>RSS compatible!</p>
            <BlogsDropdown />
        </div>
    </div>
</nav>

<style>
    nav {
        height: 3em;
    }

    nav>button {
        background: linear-gradient(145deg, var(--dominant-light), var(--dominant-dark));
        position: fixed;
        left: 8px;
        font-size: 18px;
        height: 3.2em;
        width: 3.2em;
        cursor: pointer;
        border: 0;
    }

    .nav-list {
        border-radius: var(--radius-lg);
        padding: 1em;
        background: var(--dominant);
    }

    ul {
        justify-content: end;
        margin: 0 1.5em;
        gap: 2em;
    }
</style>